@using Microsoft.AspNetCore.Components.Authorization;
@using frontend.Services;
@using Microsoft.JSInterop;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthService AuthService
@inject IJSRuntime JSRuntime

<!-- Top-level navigation bar -->
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Used Phones Web Shop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<!-- Main navigation menu -->
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/store" Match="NavLinkMatch.Prefix">
                <span class="bi bi-shop" aria-hidden="true"></span> Kauppa
            </NavLink>
        </div>
        @* Other navigation links *@
        <Authorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/manage-account" Match="NavLinkMatch.Prefix">
                    <span class="bi bi-person-lines-fill" aria-hidden="true"></span> Hallitse Käyttäjiä
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <button class="btn btn-link nav-link" @onclick="HandleLogout">
                    <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Kirjaudu Ulos
                </button>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/login" Match="NavLinkMatch.Prefix">
                    <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Kirjaudu Sisään
                </NavLink>
            </div>
        </NotAuthorized>
        <!-- Dark Mode Toggle Button -->
        <div class="nav-item px-3 mt-3">
            <button class="btn btn-secondary w-100" @onclick="ToggleDarkMode">
                <span class="bi @(isDarkMode ? "bi-sun-fill" : "bi-moon-fill")"></span>
                @(isDarkMode ? "Light Mode" : "Dark Mode")
            </button>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isDarkMode = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleLogout()
    {
        await AuthService.Logout();
    }

    private async Task ToggleDarkMode()
    {
        isDarkMode = !isDarkMode;
        await JSRuntime.InvokeVoidAsync("toggleDarkMode");
    }
}